h2,
h3,
h4,
h5,
h6 {
  color: #002e2b;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  min-height: 100vh;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #002e2b;
  color: whitesmoke;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navImage {
  width: 100px;
  height: 100px;
}

.studentCard {
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.studentImage {
  width: 100%;
  height: 60%;
  border-radius: 50%;
}

.entities {
  justify-content: space-between;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}

.builder-partType-btn-group {
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
